#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a > #backgroundBox {
  position: absolute;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 {
  position: absolute;
  width: 429.9999999999998px;
  min-height: 947.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #00BCD4 0.001%, #FFFFFF 99.99999999999999%);
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_1 {
  position: absolute;
  width: 21.3758544921875px;
  height: 17.12347412109375px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_2 {
  position: absolute;
  width: 26.18674659729004px;
  height: 12.50058650970459px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_3 {
  position: absolute;
  width: 34.07769775390625px;
  height: 18.05640411376953px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_4 {
  position: absolute;
  width: 23.942169189453125px;
  height: 16.98190689086914px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_5 {
  position: absolute;
  width: 20.973670959472656px;
  height: 21.591798782348633px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_2 {
  position: absolute;
  width: 204.52734375px;
  min-height: 86.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 {
  position: absolute;
  width: 353.0px;
  min-height: 549.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Path_55 {
  position: absolute;
  width: 118.97074890136719px;
  height: 213.8281707763672px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_3 {
  position: absolute;
  width: 204.52734375px;
  min-height: 145.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-weight: 700;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-494f6488-dc45-4b93-b6fd-64e37ede3f7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}